*{
    box-sizing: border-box;   
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1400px;
    margin: auto;

}
header{
    background-color: white;
}
header .logo{
    margin:0;
    padding: 25px 30px;
    font-weight: bolder;
    color:rgb(226, 131, 43);
    font-size: 1.6em;

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color:rgb(226, 131, 43);
}
form{
    width:350px;
    height: 400px;
    background-color: brown;
    padding-top: 20px;
    margin: 50px auto;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.login{
    background-image: url(/mineria1jpg.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    color:white;
    background-image: url(/mineria1jpg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

input{
    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
    
}

label{
    color: white;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 15px;
}
.btn-1{
    width: 100px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
    background-color: chocolate;
    

}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px; 
    }
    form{
        width:350px;
        height: 400px;
        background-color: brown;
        padding-top: 20px;
        margin: 50px auto;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }

}
