* {
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1400px;
    margin: auto;

}

header {
    background-color: white;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bolder;
    color: rgb(226, 131, 43);
    font-size: 1.6em;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    color: rgb(226, 131, 43);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(pexels.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#hero h1 {
    color: white;

}

#somos-maquinaria .container {
    text-align: center;
    padding: 200px 12px;
}

#nuestra-maquinaria {

    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestra-maquinaria .container {
    padding: 200px 12px;
}

#nuestra-maquinaria h2 {
    margin-top: 0;
    font-size: 3em;
}

#nuestra-maquinaria p {
    display: none;
}

#nuestra-maquinaria h3 {
    margin-top: 0;
}

#nuestra-maquinaria .carta {
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(SANY\ SW405K\ CARGADOR\ FRONTAL.jpg);

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(SANY\ SY365C\ Excavadora\ Grande.jpg);

}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(SANY\ SY335C\ Excavadora\ Mediana.jpg);
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-maquinaria h2 {
        margin-top: 0px;
    }

    #somos-maquinaria .container {
        display: flex;
        justify-content: space-evenly;

    }

    #somos-maquinaria .texto {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-maquinaria .img-container {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(somos.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px
    }

    #nuestra-maquinaria .minerales {
        display: flex;
        justify-content: center;
    }

    #nuestra-maquinaria p {
        display: block;

    }

    #nuestra-maquinaria h3 {
        margin-top: 0;
    }

    #nuestra-maquinaria .carta {
        padding: 50px;
    }

    .carta:first-child {
        padding: 50px;
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(SANY\ SW405K\ CARGADOR\ FRONTAL.jpg);

    }

    .carta:nth-child(2) {
        padding: 50px;
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(SANY\ SY365C\ Excavadora\ Grande.jpg);

    }

    .carta:nth-child(3) {
        padding: 50px;
        height: 400px;
        background-size: cover;
        background-position: center center;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url(SANY\ SY335C\ Excavadora\ Mediana.jpg);
    }

}